div {
    width: 200px;
    height: 200px;
    background: blue;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    border-radius: 1vw;
}

div img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: transform 1s, opacity 2s;
}

div img:nth-child(1) {
    transform: translate(-130px, -50%);
}

div img:nth-child(2) {
    transform: translate(82px, -50%);
}

div:hover img {
    transform: translate(-50%, -50%);
    opacity: 1;
}